BasedOnStyle: WebKit
Standard: Cpp11

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
IndentCaseLabels: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
PointerAlignment: Left
SortIncludes: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  SplitEmptyFunction: false
AllowShortEnumsOnASingleLine: false
PackConstructorInitializers: BinPack
BreakConstructorInitializers: BeforeColon
InsertNewlineAtEOF: true
