[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/icculus/physfs.git
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
