[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "vendor/raylib-cpp"]
	path = vendor/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/icculus/physfs.git
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
